﻿@model IEnumerable<ShakespeareWeb.Models.Work>

@{
    ViewBag.Title = "ShakespeareWeb - Search";
    Html.RenderPartial("_SearchForm");
}

<h2>Search Results</h2>
<ul class="workSummaryList">
@foreach (var item in Model)
{
    <li>
        @Html.ActionLink(item.Title, "Detail", "Works",new {id=item.Id}, null)
    </li>
}
</ul>
