﻿@model IEnumerable<ShakespeareWeb.Models.Work>

@{
    ViewBag.Title = "ShakespeareWeb - Search";
    Html.RenderPartial("_SearchForm");
}

<h2>Search Results</h2>
<p>Your search did not return any results.</p>