﻿@model ShakespeareWeb.Models.Work

@{
    ViewBag.Title = "ShakespeareWeb - " + Model.Title;
    Html.RenderPartial("_SearchForm");
}

<p class="heading">@Model.Title</p>
<pre class="workText">@Model.Text</pre>
