﻿@model IEnumerable<ShakespeareWeb.Models.Work>

@{
    ViewBag.Title = "ShakespeareWeb - Home";
    Html.RenderPartial("_SearchForm");
}

<p class="heading">The Complete Works of William Shakespeare</p>

<ul class="workSummaryList">
@foreach (var item in Model)
{
    <li>
    @Html.ActionLink(item.Title, "Detail", new {id=item.Id})
    </li>
}
</ul>