﻿<div class="navigation">
    @{ Html.BeginForm("Index", "Search",FormMethod.Get); }
    @Html.ActionLink("Back to Main List", "Index","Works") | 
    
    Search: 
    @Html.TextBox("keywords")
    <input type="submit" name="Search" id="Search" value="Go!" />
    @{
        Html.EndForm();
    }
</div>