﻿@import "theme";

html { 
	font: 
		1px*$default-font-size
		$font-family;
    height:100%;
    display:block;
}

body {
	background-color:$backgroundColor;
	margin:0%;
	font-size: $font-size-normal;
	height:100%;
	width:100%;
}

/*--- Text ---*/

.heading {
	font-size:$font-size-really-big;
	font-weight:bolder;
	text-align: center;
}

.workText {
	line-height:1.75em;
	margin:auto 10%;
	font-size:$font-size-normal;
}

.workSummaryList {
    list-style-type:none;
	li {
		a {
		    text-decoration:none;
		    font-size: $font-size-small;
		}
    }
}

/*--- Nav ---*/

.navigation {
	width:100%;
	line-height:2em;
	font-size:$font-size-small;
	background-color:$navBackgroundColor;
    color:$lightTextColor;
	display: inline-block;
	a {
        color:$lightTextColor;
	    margin:auto 1em;
		display:inline-block;
	}
}
@media only screen and (max-width:480px)
{
}
