html {
  font: 16px Arial, Helvetica, sans-serif;
  height: 100%;
  display: block; }

body {
  background-color: white;
  margin: 0%;
  font-size: 1em;
  height: 100%;
  width: 100%; }

/*--- Text ---*/
.heading {
  font-size: 1.875em;
  font-weight: bolder;
  text-align: center; }

.workText {
  line-height: 1.75em;
  margin: auto 10%;
  font-size: 1em; }

.workSummaryList {
  list-style-type: none; }
  .workSummaryList li a {
    text-decoration: none;
    font-size: 0.875em; }

/*--- Nav ---*/
.navigation {
  width: 100%;
  line-height: 2em;
  font-size: 0.875em;
  background-color: #333333;
  color: #f5f5f5;
  display: inline-block; }
  .navigation a {
    color: #f5f5f5;
    margin: auto 1em;
    display: inline-block; }

