﻿$default-font-size:16;
$font-size-really-big : 30em/$default-font-size;
$font-size-big : 20em/$default-font-size;
$font-size-normal : 1em;
$font-size-small : 14em/$default-font-size;
$font-family: Arial, Helvetica, sans-serif;

$headerBackgroundColor: #000000;	
$navBackgroundColor: #333333;	
$footerBackgroundColor: #000000;	

$lightBorderColor: $headerBackgroundColor;
$darkBorderColor: $footerBackgroundColor;

$contentAreaBgColor: #EEEEEE;
$backgroundColor: #FFFFFF;	

$normalTextColor:#333333;
$lightTextColor:#F5F5F5;
$errorTextColor:#F55555;